/*
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografías
4. Visuales (shadws,border, etc)
5. Otros
*/
:root{
    /* Colores */
    --Olimpia-green: #6ECDB3;
    --soft-green: #a8ffe8;
    --Olimpia-purple: #8C7AD2;
    --soft-purple: #beaeff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}
.lineTop{
    background-color: var(--Olimpia-purple);
    height: 10px;
}
nav {
    background-color: var(--Olimpia-green);
    width: 100%;
    height: 40px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: white;
    list-style: none;
    font-size: 1.6rem;
}
.logo_nav{
    width: 20px;
    height: 20px;
}