/*
1. Posicionamiento
2. Modelo de caja (box model)
3. Tipografías
4. Visuales (shadws,border, etc)
5. Otros
*/
:root{
    /* Colores */
    --Olimpia-green: #6ECDB3;
    --soft-green: #a8ffe8;
    --Olimpia-purple: #8C7AD2;
    --soft-purple: #beaeff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}
.lineTop{
    background-color: var(--Olimpia-purple);
    height: 10px;
}
nav {
    background-color: var(--Olimpia-green);
    width: 100%;
    height: 40px;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    color: white;
    list-style: none;
    font-size: 1.6rem;
}
.logo_nav{
    width: 20px;
    height: 20px;
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(./img/1_mobile.jpg);
    background-repeat: no-repeat;
    margin-left:5% ;
    margin-right: 5%;;
    width: 90vw;
    height:30vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    align-self: center;
    align-items: center;
}

h1{
    margin: 1rem;
    color: var(--Olimpia-green);
    font-size: 2rem;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

.hero_parrafo{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 2px 2px 5px black;
}

.section_subHero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    height: 20vh;
    margin-left: 5%;
    margin-right: 5%;;
    margin-top: 10px;
    background-color: var(--Olimpia-green);
    border-radius: 30px;
}

.section_left img{
    width: 100%;
    height: 20vh;
    border-radius: 30px 0 0 30px;
}
.section_right{
    text-align: center;
    color: white;
    font-size: 1rem;
    align-self: center;
}

.nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    height: 50px;
    color: gray;
    margin-top: 10px;
    font-size: 1.6rem;
    text-align: center;
}

.img_nosotros{
    width: 100%;
    margin-top: 5rem;
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: red;
}
 
.vision{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 5%;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 1.3rem;
}
.mision{
    margin-top: 15px;
    margin-right: 5%;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 1.3rem;
}

.vision img{
    width: 4.5rem;
}

.mision img{
    width: 4.5rem;
}

.button_olimpia_hero{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0.5rem;
    background-color: var(--Olimpia-purple);
    width: 80%;
    height: 4rem;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 3px 8px black;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 600;
}
.button_olimpia_subhero{
    margin-top: 10px;
    padding: 0.5rem;
    background-color: var(--Olimpia-purple);
    width: 80%;
    height: 4rem;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 3px 6px black;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight:600;
    font-size: 1.2rem;
}

.productos_titulo{
    margin: 16px;
    color: var(--Olimpia-green);
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 2px 2px black;
}

/*                  grid galeria                      */

.containerGaleria1{
    width: 100%;
    height: 60rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1%;
    margin-bottom: 2rem;
}
.imgGrande1{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 238, 0);
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start:1;
    grid-row-end:3;
    border-radius: 125px 0px 125px 0px;
}
.imgChicaIzqUp{
    width: 100%;
    height: 100%;
    background-color: var(--Olimpia-purple);
    border-radius: 0px 75px 0px 75px;
    grid-column: 3/4;
    grid-row: 1/2;
}
.imgChicaDerUp{
    width: 100%;
    height: 100%;
    background-color: var(--Olimpia-purple);
    border-radius: 75px 0px 75px 0px;
    grid-column: 4/5;
    grid-row: 1/2;
}
.imgChicaIzqDown{
    width: 100%;
    height: 100%;
    background-color: red;
    border-radius: 75px 0px 75px 0px;
    grid-column: 3/4;
    grid-row: 2/3;
}
.imgChicaDerDown{
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
    border-radius: 0px 75px 0px 75px;
    grid-column: 4/5;
    grid-row: 2/3;
}

/*            galeria segunda parte              */
.imgGrande2{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 238, 0);
    grid-column: 3/6;
    grid-row: 4/6;
    border-radius: 125px 0px 125px 0px;
}
.imgChicaIzqUp1{
    width: 100%;
    height: 100%;
    border-radius: 0px 75px 0px 75px;
    grid-column: 1/2;
    grid-row: 4/5;
}
.imgChicaDerUp1{
    width: 100%;
    height: 100%;
    background-color: var(--Olimpia-purple);
    border-radius: 75px 0px 75px 0px;
    grid-column: 2/3;
    grid-row: 4/5;
}
.imgChicaIzqDown1{
    width: 100%;
    height: 100%;
    background-color: var(--Olimpia-purple);
    border-radius: 75px 0px 75px 0px;
    grid-column: 1/2;
    grid-row: 5/6;
}
.imgChicaDerDown1{
    width: 100%;
    height: 100%;
    background-color: yellowgreen;
    border-radius: 0px 75px 0px 75px;
    grid-column: 2/3;
    grid-row: 5/6;
}

/*               area de contacto                  */

.form_contacto{
    width: 50%;
    height: 3rem;
    margin-top: 1rem;
    text-align: left;
    border-radius: 25px;
    background-color: var(--soft-purple);
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
}
.form_proyecto{
    width: 50%;
    height: 20rem;
    margin-top: 1rem;
    text-align: left;
    border-radius: 25px;
    background-color: var(--soft-purple);
    font-size: 1.6rem;
    color: white;
    font-weight: 500;
}